/* .upload-photo {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #BABABA;
    border-radius: 5px;
    cursor: pointer;
}

.upload-photo::-webkit-file-upload-button {
    display: none;
} */