<app-header></app-header>
<div class="container">
    <h1>Novo Livro</h1>
    <form [formGroup]="formBook">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Título</mat-label>
            <input type="text" matInput placeholder="Titulo" formControlName="titulo">
        </mat-form-field>

        <div class="double-width">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Autor</mat-label>
                <input type="text" matInput placeholder="Autor" formControlName="autor">
            </mat-form-field>
    
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Data Empréstimo</mat-label>
                <input type="date" matInput placeholder="Data Emprestimo" formControlName="dataEmprestimo">
            </mat-form-field>
        </div>

        <div class="double-width">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Categoria</mat-label>
                <input type="text" matInput placeholder="Categoria" formControlName="categoria">
            </mat-form-field>
    
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>ISBN</mat-label>
                <input type="text" matInput placeholder="ISBN" formControlName="isbn">
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option disabled>Selecione o status</mat-option>
              <mat-option value="pendente">PENDENTE</mat-option>
              <mat-option value="devolvido">DEVOLVIDO</mat-option>
              <mat-option value="emprestado">EMPRESTADO</mat-option>
            </mat-select>
          </mat-form-field>
        <label for="foto">Selecione Foto Livro</label>
        <input type="file" class="upload-photo" (change)="uploadFile($event)">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <div class="double-width">
            <button class="full-width btn-submit" mat-raised-button (click)="createBook()">Cadastrar</button>
            <a class="full-width btn-close" mat-raised-button routerLink="/dashboard">Cancelar</a>
        </div>
    </form>
</div>


